<!-- <h1>Hello Angular</h1>
<button (click)="getData('button click event')">Click Mw</button>
<!-- <button (click)="getName(900)">Click mE</button>
<button (click)="getName('rohit')">Click mE Another</button> -->
<!-- <app-login></app-login> -->
<!--<br>
<br>
<input type="text" #box1 placeholder="Keyup box" (keyup)="getData(box1.value)"/><br>
<input type="text" #box2 placeholder="Keydown box" (keydown)="getData(box2.value)"/><br>
<input type="text" #box3 placeholder="Blur box" (blur)="getData(box3.value)"/>
<br>
<input type="text" #box4 placeholder="Input box" (input)="getData(box4.value)"/>

<br>
<h1 (mouseover)="getData('mouse over')">Code By me</h1>
<h1 (mouseleave)="getData('mouse leave')">Rogit</h1> -->

<!-- -------------------------------------------------------------------- -->
<!-- Lec 12 -->

<!-- <input
  type="text"
  placeholder="Enter Name"
  name="username"
  #box
  /> -->
<!-- (keyup)="getValue(box.value)" -->

<!-- <button (click)="getValue(box.value)">Click to display</button> -->
<!-- <button (click)="getValue(box.name)">Click to display</button> -->
<!-- <button (click)="getValue(box.placeholder)">Click to display</button> -->

<!-- <p>
    Box Value is: {{displayVal}}
</p>

<br> -->

<!-- --------------------------------------- -->
<!-- Lec 13 -->

<!-- <button (click)="counterSub()">--</button>
<p>Count: {{count}}</p>
<button (click)="counterAdd()">++</button>

<h4>OR</h4>
<button (click)="counter('sub')">--</button>
<p>Count: {{count}}</p>
<button (click)="counter('add')">++</button> -->

<!-- -------------------------------------------------- -->

<!-- LEC 13  -->
<!-- <style>
  .heading{
    color: green;
  }
</style>
<h1 class="heading">Hello World</h1>
<app-login></app-login> -->

<!-- LEC 14 -->
<!-- Even after false it is still disabled in interpolation whereas its working fine in binding -->
<!-- <input type="text" value={{name}} disabled="{{disable}}">
<br>
<input type="text" [value]="name" [disabled] = disable> -->

<!-- LEC 15 -->

<!-- <h1 *ngIf="show==='yes'; then ifBlock else elseBlock">Rohit</h1> 

<ng-template #ifBlock>
  <h1>If Condition</h1>
</ng-template>

<ng-template #elseBlock>
  <h1>Else Block</h1>
</ng-template> -->


<!-- lec 16 -->

<!-- <ng-template [ngIf]="color==='red'">
  <h1 style="color: red;">Red Color</h1>
</ng-template>

<br>
<ng-template [ngIf]="color==='green'">
  <h1 style="color: green;">Green Color</h1>
</ng-template>
<ng-template [ngIf]="color==='blue'">
  <h1 style="color: blue;">Green Color</h1>
</ng-template> -->




<!-- lec 17 -->
<!-- <div [ngSwitch]="color">
  <h1 *ngSwitchCase="'red'" style="color: red;">Red Color</h1>
  <h1 *ngSwitchCase="'green'" style="color: green;">Green Color</h1>
  <h1 *ngSwitchCase="'blue'" style="color:blue">Blue Color</h1>

  <h1 *ngSwitchDefault="" style="color:yellow">Unknow Color</h1>
</div> -->




<!-- LEC 18 -->

<!-- <h3 *ngFor="let data of users" style="color:red">Element is: {{data}}</h3>

<h3 *ngFor="let data of details" style="color:green">Details is: {{data.name}} - {{data.email}} - {{data.phone}}</h3> -->



<!-- LEC 19 -->
<!-- <ul *ngFor="let item of users">
  <li>{{item.name}}</li>
  <li>{{item.email}}</li>
  <li>{{item.phone}}</li>
  <ul *ngFor="let account of item.accounts" style="color:red">
    <li>{{account}}</li>
  </ul>
</ul> -->


<!-- LEC 20 -->
<!-- <h1 [style.color]="color" [style.backgroundColor]="bgColor">  hello woekd</h1>

<button (click)="updateColor()"> Update Color</button> -->


<!-- LEC 21 -->
<!-- <app-header></app-header> -->


<!-- LEC 22 -->
<!-- <form #basicForm="ngForm" (submit)="getData(basicForm.value)">
  <input type="text" ngModel name="user" placeholder="Enter user name"/>
  <br/><br/>
  <input type="text" ngModel name="email" placeholder="Enter user email"/>
  <br/><br/>
  <input type="text" ngModel name="password" placeholder="Enter user password"/>
  <br/><br/><button>Register</button>
</form>

<ul>
  <li>{{userData.user}}</li>
  <li>{{userData.email}}</li>
  <li>{{userData.password}}</li>
</ul> -->





<!-- LEC 23 -->
<!-- <h1 *ngIf="display">Heading Tag</h1>
<button (click)="toggle()">Toggle</button> -->


<!-- LEC 24 -->
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>


